<h1>New User</h1>

  <%= render 'shared/errors' %>

<form action="<%= users_url%>" method="POST">
    <label for="username">Username</label>
    <input type="text" name="user[user_name]" id='username' value=''>

    <br>

    <label for="password">Password</label>
    <input type='password' name='user[password]' id='password' value="">

    <input type='submit'>
</form>